<?xml version="1.0" encoding="windows-1251" standalone="yes"?>
<root>
	<parameters>
		<request_time>15</request_time>
		<server_ip alt_addr1="" alt_addr2="" download_url_prefix="https://monitor.cyberplat.com" heart_beat_url="https://monitor.cyberplat.com/cgi-bin/tm/send_heartbeat.cgi" payment_complete_url="https://monitor.cyberplat.com/cgi-bin/tm/send_badpayments.cgi" incassation_url="https://monitor.cyberplat.com/cgi-bin/tm/send_collect.cgi" payment_book_url="http://62.231.13.214/cgi-bin/nb/index.pl"></server_ip>
		<offline_payment>1</offline_payment>
		<payments error_payments_delete="72" offline_period="" money_offline_period="" update_cards_info="0" delete_unprocessed_payments="30" ignored_check_errors_list=""/>
		<logs_delete payments="0" main="0" other="0"/>
		<show_payment_book>1</show_payment_book>
		<money_transfers mt_info_update_time="05:12"/>
		<currency stdname="RUR" exchange_rate="1" currency_name="руб" currency_iso_id="810"/>
		<sign_statistics>0</sign_statistics>
	</parameters>
	<keys_info get_keys_url="http://card.cyberplat.ru/cgi-bin/java_keys.cgi">
		<keys id="0">
			<hasp>0</hasp>
			<!-- Ваш код Дилера SD -->
			<SD>17031</SD>
			<!-- Ваш код точки AP -->
			<AP>17032</AP>
			<!-- Ваш код оператора OP -->
			<OP>17034</OP>
			<serial_no>904291</serial_no>
			<pub_key>.\keys\pubkeys.key</pub_key>
			<!-- Ваше кодовое слово, которое Вы использовали при генерации ключей -->
			<sec_password>1234567890</sec_password>
			<sec_key>.\keys\secret.key</sec_key>
		</keys>
	</keys_info>
	<email_sender send_interval="5" smailhost="none" from="" userid="" password="" ext="0" ignored_errors="450" hw_err_to="" hw_ok_to="" val_full_to="" incass_to="" prog_msg_to="" mdm_msg_to="" file_to=""/>
	<sms_sender phone_number="" comment="" send_startup_sms="1"/>
	<peripherals>
		<printer type="windows" port="0" baudrate="0" auto_open_shift="0" save_unprinted_cheques="0" print_unprinted_cheques="0" terminal_freese_on_error="0" show_message_on_error="1" min_lines_count="0" font="" presenter_command="0" zreport_with_incassation="1" tape_length="35"/>
		<validator type="none" protocol="" port="1" currency="RUR" exchange_rate="1" currency_name="руб" stacker_open_command="0" bills_sensitivity="222222" report_bill_count="" incass_open_stacker="0"/>
		<modem auto_dial="1" connection_name="" interval="30" host0="www.ya.ru" host1="www.ru" port="" service_number="*102#" get_service_info_interval="1" disconnect_time="0" failures_before_modem_reset="3" failures_before_reboot="3" connection_check_time_out="15" init_cmd="" login="" password="" init_string="" alt_init_string="" service_info_port="13"/>
		<watchdog type="osmp" port="10"/>
		<keyboard type="" port="0"/>
		<cardreader type="" port="0" system_code="0" device_code="0" terminal_freese_on_error="0"/>
		<coin_acceptor type="" port="0" report_coin_count="" min_coin_nominal="0" nominal_multiply="1"/>
		<scanner type="" port="0"/>
	</peripherals>
	<connections>
		<proxy type="none" host="" port="0" username="" password=""/>
	</connections>
	<service>
		<out_of_order_password></out_of_order_password>
		<service_num>9991234567</service_num>
		<service_op>0</service_op>
		<service_menu_password_mask></service_menu_password_mask>
		<short_service_menu_password_mask></short_service_menu_password_mask>
		<incassation_number_mask></incassation_number_mask>
		<incassation reports_count="1" get_amount_url=""/>
	</service>
	<cheque_head>
		<string>       Телефон службы поддержки</string>
		<string>           (495)***-**-**</string>
		<string>           ООО «*********»</string>
	</cheque_head>
	<terminal>
		<interface show_cursor="1" sound_volume="-1" no_change_message="0"/>
		<number write_in_cheque="0"></number>
		<note_min_amount>10</note_min_amount>
		<support_string>Tелефон техподдержки: [font color=red]***-****[/font]</support_string>
		<main_menu_marquee_string>За проведение платежа взимается комиссия.</main_menu_marquee_string>
		<reboot_allowed>1</reboot_allowed>
		<detect_write_errors>1</detect_write_errors>
		<set_high_priority>1</set_high_priority>
		<stay_on_top>1</stay_on_top>
	</terminal>
	<dirs>
		<interface path="./interface" skin_name="blue" db_numcapacity_update_address="/update/db_numcapacity.7z"/>
	</dirs>
	<dealer_info>
		<dealer_name>-</dealer_name>
		<dealer_address>-</dealer_address>
		<dealer_inn>-</dealer_inn>
		<dealer_phone>-</dealer_phone>
		<point_address>-</point_address>
		<contract_number>/2347</contract_number>
		<bank_name>ООО КБ "Платина"</bank_name>
		<bank_bik>044585931</bank_bik>
		<bank_phone>+7 (495) 981-80-80</bank_phone>
		<business_dealer_address></business_dealer_address>
		<bank_address>-</bank_address>
		<bank_inn>-</bank_inn>
	</dealer_info>
	<connection timeout="60"/>
</root>
