<?xml version="1.0" encoding="windows-1251" standalone="yes"?>
 <menu>
  <group id="100" >
   <operator_id image="mob_mts_espp.png" id="999" />
   <operator_id image="mob_beeline.png" id="999" />
   <operator_id image="mob_megafon.png" id="999" />
   <operator_id image="mob_skylink.png" id="999" />
   <operator_id image="mob_tele2.png" id="999" />
  </group>
  <group title="Мобильная связь" image="group_mobile.gif" id="101" >
   <operator_id image="mob_mts_espp.png" id="0" />
   <group image="mob_megafon.png" id="1200" >
    <operator_id image="mob_megafon_moscow.png" id="1" />
    <operator_id image="mob_megafon_sz.png" id="4" />
    <operator_id image="mob_megafon_ural.png" id="5" />
    <operator_id image="mob_megafon_sib.png" id="6" />
    <operator_id image="mob_megafon_pvl.png" id="7" />
    <operator_id image="mob_megafon_centr.png" id="8" />
    <operator_id image="mob_megafon_dv.png" id="9" />
    <operator_id image="mob_megafon_kavkaz.png" id="10" />
    <operator_id image="mob_megafon_yug.png" id="11" />
    <operator_id image="mob_megafon_tver.png" id="12" />
   </group>
    <group id="300" image="mob_prosto.png" titleimage="" title="Просто для общения" columns="4" type="">
       <operator_id image="mob_prosto_mos.png" id="578" />
       <operator_id image="mob_prosto_sib.png" id="24" />
	  </group>
   <operator_id image="mob_beeline.png" id="2" />
   <group image="mob_skylink.png" id="1212" >
    <operator_id image="mob_skylink_moscow.png" id="19" />
    <operator_id image="mob_skylink_sp.png" id="45" />
    <operator_id image="mob_skylink_nnovgorod.png" id="46" />
    <operator_id image="mob_skylink_ekaterinburg.png" id="47" />
    <operator_id image="mob_skylink_vladimir.png" id="48" />
    <operator_id image="mob_skylink_udmurtiya.png" id="49" />
    <operator_id image="mob_skylink_ryazan.png" id="50" />
    <operator_id image="mob_skylink_novosib.png" id="51" />
    <operator_id image="mob_skylink_krasnodar.png" id="453" />
    <operator_id image="mob_skylink_ulyanovsk.png" id="454" />
    <operator_id image="mob_skylink_omsk.png" id="475" />
    <operator_id image="mob_skylink_kemerovo.png" id="489" />
    <operator_id image="mob_skylink_voronezh.png" id="502" />
    <operator_id image="mob_skylink_kaluga.png" id="503" />
    <operator_id image="mob_skylink_tver.png" id="508" />
    <operator_id image="mob_skylink_chelybinsk.png" id="517" />
    <operator_id image="mob_sky_rostov.png" id="573" />
   </group>
   <group image="mob_smarts.png" id="202" >
    <operator_id image="mob_smarts_samara.png" id="13" />
    <operator_id image="mob_smarts_yaroslavl.png" id="14" />
    <operator_id image="mob_smarts_cheboksary.png" id="15" />
    <operator_id image="mob_smarts_astrahan.png" id="16" />
    <operator_id image="mob_smarts_volgograd.png" id="17" />
    <operator_id image="mob_smarts_penza.png" id="18" />
    <operator_id image="mob_yo-yo_chebo.png" id="455" />
    <operator_id image="mob_yo-yo_samara.png" id="456" />
    <operator_id image="mob_e_astrahan.png" id="480" />
    <operator_id image="mob_yo-yo_ufa.png" id="491" />
   </group>
   <group image="mob_nss.png" id="271" >
    <operator_id image="mob_nss_nnov.png" id="23" />
    <operator_id image="mob_nss_mordov.png" id="52" />
    <operator_id image="mob_nss_chuvash.png" id="83" />
    <operator_id image="mob_nss_penza.png" id="171" />
    <operator_id image="mob_nss_saratov.png" id="188" />
    <operator_id image="mob_nss_tatinkom.png" id="42" />
   </group>
   <operator_id image="mob_kodotel.png" id="62" />
   <operator_id image="mob_tele2.png" id="21" />
   <operator_id image="mob_ntk.png" id="22" />
   <group image="mob_allo.png" id="1254" >
    <operator_id image="mob_allo-926.png" id="434" />
    <operator_id image="mob_allo-495.png" id="435" />
    <operator_id image="mob_allo-812.png" id="450" />
   </group>
   <operator_id image="mob_utel.png" id="25" />
   <operator_id image="mob_motiv.png" id="26" />
   <operator_id image="mob_matrix.png" id="27" />
   <group image="mob_etk.png" id="1020" >
    <operator_id image="mob_et.png" id="28" />
    <operator_id image="mob_etk_card.png" id="201" />
   </group>
   <operator_id image="mob_metrotel.png" id="29" />
   <operator_id image="mob_akos.png" id="41" />
   <operator_id image="mob_ulan_ude.png" id="55" />
   <operator_id image="pkarktel.png" id="57" />
   <operator_id image="mob_ulyanovsk_gsm.png" id="61" />
   <operator_id image="mob_baikalvestkom.png" id="64" />
   <operator_id image="mob_russdo.png" id="53" />
   <operator_id image="mob_stekgsm.png" id="54" />
   <operator_id image="mob_goodline.png" id="165" />
   <operator_id image="int_di-ex.png" id="170" />
   <operator_id image="mob_sinform.png" id="172" />
   <operator_id image="int_bashcell.png" id="372" />
   <operator_id image="simtravel.png" id="402" />
   <operator_id image="mob_altaysv.png" id="431" />
   <operator_id image="mob_hbs.png" id="432" />
   <operator_id image="int_eztalk.png" id="362" />
   <operator_id image="mob_sotel.png" id="577" />
   <operator_id image="mob_nts.png" id="554" />
   <operator_id image="mob_orenburg.png" id="590" />
  </group>
  <group title="Интернет" image="group_internet.gif" id="102" >
   <group image="int_stream.png" id="240" >
    <operator_id image="int_stream_bill.png" id="35" />
    <operator_id image="int_stream_phone.png" id="36" />
   </group>
   <operator_id image="int_qwerty.png" id="86" />
   <operator_id image="tel_akado.png" id="37" />
   <operator_id image="int_corbina.png" id="20" />
   <operator_id image="int_yota" id="568" />
   <operator_id image="int_zebra.png" id="34" />
   <operator_id image="int_beeline.png" id="3" />
   <operator_id image="int_ruslink.png" id="492" />
   <operator_id image="int_comstar.png" id="557" />
   <group image="int_wifi-beeline.png" id="241" >
    <operator_id image="int_wifi-beeline-id.png" id="156" />
    <operator_id image="int_wifi-beeline-email.png" id="157" />
   </group>
   <operator_id image="int_goldentelecom.png" id="100" />
   <operator_id image="int_goldentelecomnn.png" id="515" />
   <operator_id image="int_apollo.png" id="427" />
   <operator_id image="int_rol.png" id="67" />
   <operator_id image="int_peterstar.png" id="584" />
   <operator_id image="int_tvoiinternet.png" id="187" />
   <operator_id image="int_kabinet.png" id="75" />
   <operator_id image="int_butovocom.png" id="68" />
   <operator_id image="int_netbynet.png" id="72" />
   <operator_id image="int_comintel.png" id="155" />
   <operator_id image="mob_sipnet.png" id="71" />
   <operator_id image="int_prostor.png" id="96" />
   <operator_id image="int_planeta.png" id="79" />
   <group image="int_centertelecom.png" id="260" >
    <operator_id image="int_centertelecom-lipitsk.png" id="310" />
    <operator_id image="int_centertelecom-voronezh.png" id="311" />
    <operator_id image="int_centertelecom-moskobl.png" id="192" />
    <operator_id image="int_centertelecom-tambov.png" id="313" />
    <operator_id image="int_centertelecom-ryazan.png" id="314" />
    <operator_id image="int_centertelecom-tver.png" id="315" />
    <operator_id image="int_centertelecom-orel.png" id="316" />
    <operator_id image="int_centertelecom-tula.png" id="317" />
    <operator_id image="int_centertelecom-kursk.png" id="319" />
    <operator_id image="int_centertelecom-vladimir.png" id="320" />
    <operator_id image="int_centertelecom-smolensk.png" id="321" />
    <operator_id image="int_centertelecom-bryansk.png" id="322" />
    <operator_id image="int_centertelecom-belgorod.png" id="323" />
   </group>
   <group image="int_domolink.png" id="270" >
    <operator_id image="int_domolink-lipetzk.png" id="350" />
    <operator_id image="int_domolink-moskobl.png" id="351" />
    <operator_id image="int_domolink-tula.png" id="352" />
    <operator_id image="int_domolink-kaluga.png" id="437" />
    <operator_id image="int_domolink.png" id="563" />
   </group>
   <group image="int_domru.png" id="266" >
    <operator_id image="int_domru.png" id="374" />
    <operator_id image="int_domru-nizhnekamsk.png" id="376" />
    <operator_id image="int_domru-kirov.png" id="378" />
    <operator_id image="int_domru-omsk.png" id="380" />
    <operator_id image="int_domru-volgograd.png" id="382" />
    <operator_id image="int_domru-penza.png" id="384" />
    <operator_id image="int_domru-samara.png" id="386" />
    <operator_id image="int_domru-yoshkorola.png" id="388" />
    <operator_id image="int_domru-chelyabinsk.png" id="390" />
    <operator_id image="int_domru-orenburg.png" id="392" />
    <operator_id image="int_domru-perm.png" id="394" />
    <operator_id image="int_domru-volzhskiy.png" id="396" />
    <operator_id image="int_domru-izhevsk.png" id="398" />
    <operator_id image="int_domru-kazan.png" id="420" />
    <operator_id image="int_domru-nabchelni.png" id="422" />
    <operator_id image="int_domru-nnovgorod.png" id="497" />
   </group>
   <group image="int_gorsv.png" id="268" >
    <operator_id image="int_gorsv-volgograd.png" id="410" />
    <operator_id image="int_gorsv-kirov.png" id="411" />
    <operator_id image="int_gorsv-penza.png" id="412" />
    <operator_id image="int_gorsv-perm.png" id="413" />
    <operator_id image="int_gorsv-samara.png" id="414" />
    <operator_id image="int_gorsv-tumen.png" id="415" />
    <operator_id image="int_gorsv-chelyabinsk.png" id="416" />
    <operator_id image="int_gorsv-izhevsk.png" id="417" />
    <operator_id image="int_gorsv-kazan.png" id="418" />
    <operator_id image="int_gorsv-nnovgorod.png" id="499" />
   </group>
   <group image="int_volgatelecom.png" id="282" >
    <group image="int_volgatelecom-nnovgorod.png" id="286" >
     <operator_id image="int_j-dsl.png" id="333" />
     <operator_id image="int_volgatelecom-nnovgorod.png" id="464" />
    </group>
    <operator_id image="int_volgatelecom-samara.png" id="330" />
    <operator_id image="int_volgatelecom-mariyel.png" id="331" />
    <operator_id image="int_volgatelecom-penza.png" id="332" />
    <operator_id image="int_volgatelecom-orenburg.png" id="334" />
    <operator_id image="int_volgatelecom-kirov.png" id="288" />
    <operator_id image="int_volgatelecom-mordoviya.png" id="285" />
    <operator_id image="int_volgatelecom-ulyanovsk.png" id="270" />
    <operator_id image="int_volgatelecom-udmurtiya.png" id="439" />
    <operator_id image="int_volgatelecom-saratov.png" id="287" />
    <operator_id image="int_volgatelecom-chuvashiya.png" id="286" />
   </group>
   <operator_id image="int_2com.png" id="501" />
   <operator_id image="int_orionet.png" id="509" />
   <operator_id image="int_rucenter.png" id="76" />
   <operator_id image="pkarktel.png" id="57" />
   <operator_id image="int_aist.png" id="93" />
   <operator_id image="int_bittelekom.png" id="85" />
   <operator_id image="int_alyanstelecom.png" id="106" />
   <operator_id image="int_marynonet.png" id="65" />
   <operator_id image="int_raduga.png" id="69" />
   <operator_id image="int_comutator.png" id="70" />
   <operator_id image="int_datacom.png" id="43" />
   <operator_id image="int_ugtelecom.png" id="153" />
   <operator_id image="int_phonecom.png" id="104" />
   <operator_id image="int_heliosnet.png" id="87" />
   <operator_id image="int_enter.png" id="151" />
   <operator_id image="int_infosvyaz.png" id="97" />
   <operator_id image="int_djino.png" id="74" />
   <operator_id image="int_vladlink.png" id="154" />
   <operator_id image="int_webplus.png" id="101" />
   <operator_id image="int_ipcity.png" id="107" />
   <operator_id image="int_iphome.png" id="77" />
   <operator_id image="int_corvet.png" id="109" />
   <operator_id image="int_apriko.png" id="485" />
   <operator_id image="int_newtelecom.png" id="94" />
   <operator_id image="int_novotelecom.png" id="152" />
   <group image="int_telme_l.png" id="250" >
    <operator_id image="int_telme_l.png" id="159" />
    <operator_id image="int_telme_sms.png" id="160" />
   </group>
   <operator_id image="int_kaskadtv.png" id="161" />
   <operator_id image="int_brsvyaztv.png" id="162" />
   <operator_id image="int_sibseti.png" id="164" />
   <operator_id image="int_inkomsvyaz.png" id="166" />
   <operator_id image="int_bairat.png" id="167" />
   <operator_id image="int_infolink.png" id="168" />
   <operator_id image="int_infocenter.png" id="169" />
   <operator_id image="int_rbk.png" id="173" />
   <group image="int_chebnet.png" id="280" >
    <operator_id image="int_chebnet.png" id="174" />
    <operator_id image="int_chebnet.png" id="183" />
   </group>
   <operator_id image="int_simbirsk_ktv.png" id="175" />
   <operator_id image="int_eltel.png" id="177" />
   <operator_id image="int_telecomservice.png" id="179" />
   <operator_id image="int_infoline.png" id="181" />
   <operator_id image="int_vltelecom.png" id="182" />
   <operator_id image="int_izmaylovo.png" id="184" />
   <operator_id image="int_luchenet.png" id="186" />
   <operator_id image="int_chitaonline.png" id="189" />
   <operator_id image="int_bashcell.png" id="371" />
   <operator_id image="int_vostoktelecom.png" id="190" />
   <operator_id image="int_elf.png" id="191" />
   <operator_id image="int_art.png" id="404" />
   <operator_id image="int_trancom.png" id="424" />
   <operator_id image="int_nir.png" id="425" />
   <operator_id image="int_articom.png" id="426" />
   <operator_id image="int_insis.png" id="312" />
   <operator_id image="int_rtvc.png" id="430" />
   <operator_id image="int_skystream.png" id="438" />
   <operator_id image="int_puzzle.png" id="436" />
   <operator_id image="int_orbitel.png" id="440" />
   <operator_id image="int_olimpus.png" id="448" />
   <operator_id image="tv_akado_e.png" id="588" />
   <operator_id image="int_kovrov.png" id="451" />
   <operator_id image="int_elvis.png" id="457" />
   <operator_id image="int_intertvmedia.png" id="466" />
   <operator_id image="int_melt.png" id="469" />
   <operator_id image="int_spark.png" id="470" />
   <operator_id image="int_msvaz.png" id="474" />
   <operator_id image="int_city.png" id="476" />
   <operator_id image="int_balashiha.png" id="478" />
   <operator_id image="int_vladinfo.png" id="479" />
   <operator_id image="int_ketis.png" id="483" />
   <operator_id image="int_WestCall.png" id="484" />
   <operator_id image="int_comilfon.png" id="488" />
   <operator_id image="int_skynet.png" id="504" />
   <operator_id image="int_dars.png" id="505" />
   <operator_id image="int_intercon.png" id="506" />
   <operator_id image="int_rightside.png" id="956" />
   <operator_id image="int_avers.png" id="957" />
   <operator_id image="int_vostoktelecom.png" id="190" />
   <operator_id image="int_alyanstelecom.png" id="106" />
   <operator_id image="int_stolica.png" id="511" />
   <operator_id image="int_progtex.png" id="961" />
   <operator_id image="int_tvoynet.png" id="512" />
   <operator_id image="int_citus.png" id="513" />
   <operator_id image="int_gazinter.png" id="514" />
   <operator_id image="int_goldline.png" id="349" />
   <operator_id image="int_biztel.png" id="557" />
   <operator_id image="int_corvet.png" id="108" />
   <operator_id image="int_vostoktelecom.png" id="193" />
   <operator_id image="int_jet.png" id="551" />
   <operator_id image="int_lanta.png" id="558" />
   <operator_id image="int_skynetSPB.png" id="535" />
   <operator_id image="int_shelkovo-net.png" id="540" />
   <operator_id image="int_rnet.png" id="534" />
   <operator_id image="int_trivon.png" id="538" />
   <operator_id image="int_stream_nn.png" id="542" />
   <operator_id image="int_telin.png" id="545" />
   <operator_id image="int_tochka.png" id="546" />
   <operator_id image="int_lit.png" id="547" />
<!--<operator_id image="com_mkts.png" id="555" />-->
   <operator_id image="int_maginfo.png" id="560" />
   <operator_id image="int_icube.png" id="561" />
   <operator_id image="int_ctk.png" id="564" />
   <operator_id image="int_lanpolis.png" id="567" />
   <operator_id image="int_starttelecom.png" id="569" />
   <operator_id image="int_novline.png" id="570" />
   <operator_id image="int_citylink.png" id="574" />
   <operator_id image="int_inet.png" id="537" />
   <operator_id image="int_weba.png" id="566" />
   <operator_id image="int_etherway.png" id="576" />
   <group image="ufanet.png" id="291" >
   <operator_id image="int_ufanetishim.png" id="580" />
   <operator_id image="int_ufanetneft.png" id="581" />
   <operator_id image="int_ufanetokt.png" id="582" />
   </group>
    <group image="int_multinex.png" id="292" >
   <operator_id image="int_dobroe.png" id="531" />
   <operator_id image="int_mks.png" id="532" />
   <operator_id image="int_mks.png" id="533" />
   </group>
   <operator_id image="int_umos.png" id="539" />
   <operator_id image="int_inetlan.png" id="591" />
   <operator_id image="int_homenet.png" id="592" />
   <operator_id image="int_koptevonet.png" id="594" />
   <operator_id image="int_balnet.png" id="595" />
  </group>
  <group title="Телевидение" image="group_tv.gif" id="103" >
   <operator_id image="tel_ntv-plus.png" id="32" />
   <operator_id image="tel_kosmos-tv.png" id="33" />
   <operator_id image="tel_akado.png" id="37" />
   <operator_id image="int_yota" id="568" />
   <group image="tel_tvoetv.png" id="220" >
    <operator_id image="tel_tvoetv_peterburg.png" id="66" />
    <operator_id image="tel_tvoetv_ekaterinburg.png" id="99" />
   </group>
   <operator_id image="int_tricolor.png" id="494" />
   <operator_id image="tv_beeline.png" id="586" />
  <operator_id image="int_olimpus.png" id="448" />
   <operator_id image="tv_akado_e.png" id="588" />
   <operator_id image="tel_tvt_tatarstan.png" id="95" />
   <operator_id image="tel_atk.png" id="105" />
   <operator_id image="tel_newtelesys.png" id="163" />
   <operator_id image="tel_amegatv.png" id="180" />
   <operator_id image="int_comintel.png" id="155" />
   <group image="tel_divantv.png" id="267" >
    <operator_id image="tel_divantv-tumen.png" id="375" />
    <operator_id image="tel_divantv-nizhnekamsk.png" id="377" />
    <operator_id image="tel_divantv-kirov.png" id="379" />
    <operator_id image="tel_divantv-omsk.png" id="381" />
    <operator_id image="tel_divantv-volgograd.png" id="383" />
    <operator_id image="tel_divantv-penza.png" id="385" />
    <operator_id image="tel_divantv-samara.png" id="387" />
    <operator_id image="tel_divantv-yoshkor-ola.png" id="389" />
    <operator_id image="tel_divantv-chelyabinsk.png" id="391" />
    <operator_id image="tel_divantv-orenburg.png" id="393" />
    <operator_id image="tel_divantv-perm.png" id="395" />
    <operator_id image="tel_divantv-perm.png" id="477" />
    <operator_id image="tel_divantv-volzhskiy.png" id="397" />
    <operator_id image="tel_divantv-izhevsk.png" id="399" />
    <operator_id image="tel_divantv-kazan.png" id="421" />
    <operator_id image="tel_divantv-nabchelni.png" id="423" />
    <operator_id image="tel_divantv-nnovgorod.png" id="495" />
   </group>
   <operator_id image="int_elf.png" id="191" />
   <operator_id image="int_orion.png" id="459" />
   <operator_id image="int_mediaexpress.png" id="463" />
   <operator_id image="int_intertvmedia.png" id="465" />
   <operator_id image="int_nks.png" id="507" />
    <group image="ufanet.png" id="291" >
   <operator_id image="int_ufanetishim.png" id="580" />
   <operator_id image="int_ufanetneft.png" id="581" />
   <operator_id image="int_ufanetokt.png" id="582" />
   </group>
    <group image="int_multinex.png" id="292" >
   <operator_id image="int_dobroe.png" id="531" />
   <operator_id image="int_mks.png" id="532" />
   <operator_id image="int_mks.png" id="533" />
   </group>
   <operator_id image="tv_ctv.png" id="550" />
   <operator_id image="tv_maginfo.png" id="559" />
  </group>
  <group title="Коммунальные платежи" image="group_utility.gif" id="104" >
   <operator_id id="486" />
   <operator_id image="com_menergo.png" id="120" />
   <operator_id image="com_kommunal_moscow.png" id="111" />
   <operator_id image="com_kommunal_spb.png" id="112" />
   <operator_id image="com_kommunal_penza.png" id="113" />
   <operator_id image="com_chitensb.png" id="114" />
   <operator_id image="com_tumen.png" id="115" />
   <operator_id image="com_sverdlovsk.png" id="116" />
   <operator_id image="com_dalenergo.png" id="121" />
   <operator_id image="com_penzaregiongaz.png" id="122" />
   <operator_id image="com_planeta.png" id="123" />
   <operator_id image="com_zhkhulyanovsk.png" id="441" />
   <operator_id image="com_ekaterinburgenergo.png" id="458" />
   <operator_id image="int_yakutsk.png" id="302" />
   <operator_id image="int_kommunal_tumen.png" id="462" />
   <operator_id image="int_PIK_Komf.png" id="472" />
   <operator_id image="com_magadan.png" id="487" />
   <operator_id image="com_energobalance.png" id="510" />
   <operator_id image="tel_tvoytelefon.png" id="579" />
   <operator_id image="com_voronegenergosbyt.png" id="529" />
   <group image="sz_telecom.png" id="528" >
     <operator_id image="sz_lo.png" id="442" />
    <operator_id image="sz_nn.png" id="443" />
    <operator_id image="sz_spb.png" id="521" />
    <operator_id image="sz_arh.png" id="522" />
    <operator_id image="sz_kalin.png" id="523" />
	<operator_id image="sz_komi.png" id="524" />
    <operator_id image="sz_murm.png" id="525" />
	 <operator_id image="sz_kareliya.png" id="526" />
	<operator_id image="sz_pskov.png" id="530" />
   </group>
   <operator_id image="arktel.png" id="548" />
 <!--  <operator_id image="com_krasnoyarsk.png" id="583" />-->
  </group>
  <group title="Фиксированная связь" image="group_fixed.gif" id="105" >
   <operator_id image="com_rostelecom.png" id="110" />
   <operator_id image="com_rostelecom_ural.png" id="549" />
   <operator_id image="com_sberkart.png" id="562" />
   <operator_id image="com_mtt.png" id="403" />
   <group image="int_centertelecom.png" id="261" >
    <operator_id image="int_centertelecom-vladimir.png" id="320" />
    <operator_id image="int_centertelecom-voronezh.png" id="311" />
    <operator_id image="int_centertelecom-moskobl.png" id="192" />
    <operator_id image="int_centertelecom-tambov.png" id="313" />
    <operator_id image="int_centertelecom-ryazan.png" id="314" />
    <operator_id image="int_centertelecom-tver.png" id="315" />
    <operator_id image="int_centertelecom-orel.png" id="316" />
    <operator_id image="int_centertelecom-tula.png" id="317" />
    <operator_id image="int_centertelecom-kursk.png" id="319" />
    <operator_id image="int_centertelecom-lipitsk.png" id="310" />
    <operator_id image="int_centertelecom-smolensk.png" id="321" />
    <operator_id image="int_centertelecom-bryansk.png" id="322" />
    <operator_id image="int_centertelecom-belgorod.png" id="323" />
    <operator_id image="int_centertelecom-verhnevolzhsk.png" id="572" />
   </group>
   <group image="int_utk.png" id="500" >
    <operator_id image="int_utk-adigeya.png" id="3000" />
    <operator_id image="int_utk-astrahan.png" id="3001" />
    <operator_id image="int_utk-volgograd.png" id="3002" />
    <operator_id image="int_utk-kabardinobalkariya.png" id="3003" />
    <operator_id image="int_utk-kalmikiya.png" id="3004" />
    <operator_id image="int_utk-karachaevo.png" id="3005" />
    <operator_id image="int_utk-krasnodar.png" id="3006" />
    <operator_id image="int_utk-stavropol.png" id="3007" />
    <operator_id image="int_utk-rostov.png" id="3008" />
    <operator_id image="int_utk-so.png" id="3009" />
   </group>
   <operator_id image="com_mgts.png" id="301" />
   <group image="mob_utel.png" id="284" >
    <operator_id image="mob_utel-perm.png" id="2551" />
    <operator_id image="mob_utel-tumen.png" id="2552" />
    <operator_id image="mob_utel-sverdlovsk.png" id="2553" />
    <operator_id image="mob_utel-ugra.png" id="2554" />
    <operator_id image="mob_utel-yamal.png" id="2555" />
    <operator_id image="mob_utel-kurgan.png" id="2556" />
   </group>
   <group image="int_volgatelecom.png" id="283" >
    <group image="int_volgatelecom-nnovgorod.png" id="287" >
     <operator_id image="int_j-dsl.png" id="333" />
     <operator_id image="int_volgatelecom-nnovgorod.png" id="464" />
    </group>
    <operator_id image="int_volgatelecom-samara.png" id="330" />
    <operator_id image="int_volgatelecom-mariyel.png" id="331" />
    <operator_id image="int_volgatelecom-penza.png" id="332" />
    <operator_id image="int_volgatelecom-orenburg.png" id="334" />
    <operator_id image="int_volgatelecom-kirov.png" id="288" />
    <operator_id image="int_volgatelecom-mordoviya.png" id="285" />
    <operator_id image="int_volgatelecom-ulyanovsk.png" id="270" />
    <operator_id image="int_volgatelecom-udmurtiya.png" id="439" />
    <operator_id image="int_volgatelecom-saratov.png" id="287" />
    <operator_id image="int_volgatelecom-chuvashiya.png" id="286" />
   </group>
   <group image="sz_telecom.png" id="528" >
    <operator_id image="sz_lo.png" id="442" />
    <operator_id image="sz_nn.png" id="443" />
    <operator_id image="sz_spb.png" id="521" />
    <operator_id image="sz_arh.png" id="522" />
    <operator_id image="sz_kalin.png" id="523" />
	<operator_id image="sz_komi.png" id="524" />
    <operator_id image="sz_murm.png" id="525" />
	<operator_id image="sz_kareliya.png" id="526" />
	<operator_id image="sz_pskov.png" id="530" />
   </group>
   <group image="mob_dalsvyaz.png" id="203" >
    <operator_id image="mob_dalsvyaz-vladivostok.png" id="63" />
    <operator_id image="mob_dalsvyaz-amur.png" id="88" />
    <operator_id image="mob_dalsvyaz-magadan.png" id="89" />
    <operator_id image="mob_dalsvyaz-kamchatka.png" id="90" />
    <operator_id image="mob_dalsvyaz-sakhalin.png" id="91" />
    <operator_id image="mob_dalsvyaz-habarovsk.png" id="92" />
   </group>
   <operator_id image="mob_sakhatelecom.png" id="176" />
   <group image="mob_sibteltomsk.png" id="204" >
    <operator_id image="mob_wellcom.png" id="73" />
    <operator_id image="mob_sibteltomsk-novosibirsk.png" id="185" />
    <operator_id image="mob_sibteltomsk-chita.png" id="428" />
   </group>
   <operator_id image="com_ct.png" id="552" />
   <operator_id image="int_bashcell.png" id="373" />
   <operator_id image="int_peterstar.png" id="585" />
  </group>
  <group title="Другие услуги" image="group_other.gif" id="106" >
   <operator_id image="skyex.png" id="400" />
   <group image="avia_center.png" id="111" >
    <operator_id image="avia_center_rzd.png" id="958" />
    <operator_id image="avia_center_avia.png" id="959" />
   </group>
   <operator_id image="3-limona.png" id="481" />
   <group image="cs.png" id="285" >
    <operator_id image="ohr_cs-moscow.png" id="81" />
    <operator_id image="ohr_cs-sz.png" id="82" />
    <operator_id image="ohr_cs-ural.png" id="433" />
   </group>
   <group image="ohr_cobraconnex.png" id="290" >
   <operator_id image="ohr_cobraconnex.png" id="158" />
   <operator_id image="ohr_cobraconnex_spb.png" id="541" />
   <operator_id image="ohr_cobraconnex_ns.png" id="571" />
   </group>
   <operator_id image="ohr_arkan.png" id="471" />
   <operator_id image="ohr_avtolokator.png" id="84" />
   <operator_id image="ohr_starcomspb.png" id="80" />
   <operator_id image="ohr_legion.png" id="308" />
   <operator_id image="ohr_golfstream.png" id="449" />
   <operator_id image="ohr_eshelon.png" id="482" />
   <operator_id image="tur_golfstreamtour.png" id="516" />
   <operator_id image="kdavia.png" id="519" />
   <operator_id image="biletset.png" id="544" />
   <operator_id image="eso.png" id="98" />
   <operator_id image="tur_delfin.png" id="536" />
   <operator_id image="pososhok.png" id="553" />
   <operator_id image="oriflame.png" id="589" />
   <operator_id image="faberlic.png" id="593" />
  </group>
 </menu>
